@use "../../styles/mixins";

.root {
  background-color: var(--card-bg);
  border: var(--border-width) solid var(--card-border);
  border-radius: var(--radius);
  box-shadow: var(--shadow-hard);
  min-width: 0;
  display: flex;
  flex-direction: column;

  > *:first-child {
    border-top-left-radius: calc(var(--radius) - var(--border-width));
    border-top-right-radius: calc(var(--radius) - var(--border-width));
  }

  > *:last-child {
    border-bottom-left-radius: calc(var(--radius) - var(--border-width));
    border-bottom-right-radius: calc(var(--radius) - var(--border-width));
  }
}

.padded {
  padding: var(--spacing-6);
}

.header {
  padding: var(--spacing-6);
  border-bottom: var(--border-width) solid var(--card-border);
  background-color: var(--card-bg);
  border-radius: calc(var(--radius) - var(--border-width))
    calc(var(--radius) - var(--border-width)) 0 0;
}

.body {
  padding: var(--spacing-6);
  flex: 1;
}

.footer {
  padding: var(--spacing-6);
  border-top: var(--border-width) solid var(--card-border);
  background-color: var(--card-bg);
  border-radius: 0 0 calc(var(--radius) - var(--border-width))
    calc(var(--radius) - var(--border-width));
}
