@use "../../styles/mixins";

.root {
  background-color: var(--card-bg);
  border: var(--border-width) solid var(--card-border);
  border-radius: var(--radius);
  box-shadow: var(--shadow-hard);
  min-width: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.padded {
  padding: var(--spacing-lg);
}

.header {
  padding: var(--spacing-lg);
  border-bottom: var(--border-width) solid var(--card-border);
  background-color: var(--card-bg);
}

.body {
  padding: var(--spacing-lg);
  flex: 1;
}

.footer {
  padding: var(--spacing-lg);
  border-top: var(--border-width) solid var(--card-border);
  background-color: var(--card-bg);
}
