.container {
  flex: 1;
  width: 100%;
}

.default {
  width: 90%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem 1rem;

  @media (max-width: 1024px) {
    width: 95%;
    padding: 1rem;
  }
}

.fullWidth {
  max-width: 100%;
  margin: 0;
  padding: 0;
}
