@use "../../styles/mixins" as *;

.container {
  flex: 1;
  width: 100%;
}

.default {
  width: 90%;
  max-width: var(--page-max-width);
  backdrop-filter: blur(var(--blur-standard));
  margin: 0 auto;
  padding: 2rem 1rem;

  @include mq("lg", "max") {
    width: 95%;
    padding: 1rem;
  }
}

.fullWidth {
  max-width: 100%;
  margin: 0;
  padding: 0;
}
