.popover {
  position: fixed;
  z-index: 9999;
  animation: popoverScale 0.1s ease-out;
}

@keyframes popoverScale {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.triggerWrapper {
  display: inline-block;
}
