@use "../../../../styles/mixins" as *;

@layer doom.components {
  .header {
    padding: var(--space-4);
    border-bottom: var(--surface-border-width) solid var(--card-border);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: var(--space-3);
    height: var(--header-height);
    box-sizing: border-box;
    border-top-right-radius: var(--radius-md);
  }
}
