.dot {
  fill: var(--background);
  stroke: var(--primary);
  stroke-width: calc(var(--border-width) * 1.5);
  transition:
    r 0.2s ease,
    fill 0.2s;

  // Highlight?
  // Could scale up on hover
}
