@layer doom.components {
  .grid {
    pointer-events: none;

    :global(.tick) line,
    line {
      stroke: var(--muted);
      stroke-opacity: 0.5;
    }

    path {
      display: none;
    }
  }
}
